
body {
    min-height: 100vh;
    margin: 0;
    padding: 0 35px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    scroll-snap-align: start;
    list-style: none;
    border: 1px solid red;
    border-radius: 5px;
    background-color: #fff;
    height: 342px;
    span{
        display: inline-block;
        font-size: 20px;
        width: 200px;
    }
}

.wrapper {
    width: 100%;
    max-width: 1100px;
    position: relative;
}

.wrapper i {
    font-size: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    
}
.wrapper i:first-child {
    left: -22px;
}
.wrapper i:last-child {
    right: -22px;
}

.carousel {
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    gap: 16px;
    overflow: hidden;
    cursor: pointer;
    scroll-behavior: smooth;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: 0;

    @media (max-width: 900px){
        grid-auto-columns: calc((100% / 2) - 9px);
    }
    @media (max-width: 600px){
        grid-auto-columns: 100%;
    }
}
.carousel::-webkit-scrollbar {
    display: none;
}

.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}
.carousel.dragging .card {
    cursor: grab;
    user-select: none;
}

.swipe_left, .swipe_right {
    cursor: pointer;
}