@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
.center-relaxing-pleasure {
  padding: 70px 45px 0 45px;
}
@media (min-width: 761px) {
  .center-relaxing-pleasure {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 1070px) and (min-width: 761px) {
  .center-relaxing-pleasure {
    justify-content: flex-start;
  }
}
@media (max-width: 760px) {
  .center-relaxing-pleasure {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 1100px) {
  .center-relaxing-pleasure {
    padding: 70px 20px 0 20px;
  }
}
@media (max-width: 880px) {
  .center-relaxing-pleasure {
    padding: 70px 10px 0 10px;
  }
}
@media (max-width: 760px) {
  .center-relaxing-pleasure {
    padding: 100px 0 0 0;
  }
}
@media (max-width: 600px) {
  .center-relaxing-pleasure {
    padding: 60px 0 0 0;
  }
}
@media (max-width: 510px) {
  .center-relaxing-pleasure {
    padding: 60px 0 0 0;
  }
}
@media (max-width: 460px) {
  .center-relaxing-pleasure {
    padding: 60px 0 0 0;
  }
}

.relaxing-pleasure-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1000px;
  width: 100%;
  margin-right: 80px;
}
@media (max-width: 1070px) {
  .relaxing-pleasure-container {
    margin-right: 0;
  }
}
.relaxing-pleasure-container .images-regular {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 415px;
  flex-grow: 1;
}
@media (max-width: 760px) {
  .relaxing-pleasure-container .images-regular {
    display: none;
  }
}
.relaxing-pleasure-container .details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (max-width: 760px) {
  .relaxing-pleasure-container .details {
    padding-left: 30px;
  }
}
@media (max-width: 510px) {
  .relaxing-pleasure-container .details {
    padding-left: 20px;
  }
}
.relaxing-pleasure-container .details .header {
  color: #D41111;
  text-shadow: 0px 2px 4px rgba(109, 109, 109, 0.25);
  font-size: 18px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}
.relaxing-pleasure-container .details .title {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 44px;
  font-weight: 600;
  margin: 20px 0 20px 0;
}
@media (max-width: 940px) {
  .relaxing-pleasure-container .details .title {
    font-size: 33px;
  }
}
@media (max-width: 320px) {
  .relaxing-pleasure-container .details .title {
    font-size: 26px;
  }
}
.relaxing-pleasure-container .details .description {
  color: #515151;
  font-size: 14px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  max-width: 400px;
}
@media (max-width: 940px) {
  .relaxing-pleasure-container .details .description {
    max-width: 295px;
  }
}
@media (max-width: 760px) {
  .relaxing-pleasure-container .details .description {
    max-width: 100%;
    padding-right: 15px;
  }
}

.images-scrollbar {
  display: none;
}
@media (max-width: 760px) {
  .images-scrollbar {
    margin-top: 30px;
    margin-left: 25px;
    display: flex;
    align-items: center;
  }
}
@media (max-width: 760px) and (max-width: 510px) {
  .images-scrollbar {
    margin-left: 15px;
  }
}
@media (max-width: 760px) and (max-width: 520px) {
  .images-scrollbar {
    margin-left: 0;
  }
}
@media (max-width: 760px) and (min-width: 521px) {
  .images-scrollbar {
    width: 415px;
    justify-content: space-between;
  }
}
@media (max-width: 760px) and (max-width: 520px) {
  .images-scrollbar {
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: visible;
  }
}
@media (max-width: 760px) and (max-width: 520px) {
  .images-scrollbar .card-2 {
    margin-right: 20px;
    margin-left: 20px;
  }
}

.image-scrollbar::-webkit-scrollbar {
  width: 0;
}

.images-defaults .card {
  cursor: pointer;
  min-width: 120px;
  min-height: 200px;
  background-color: gray;
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 50px;
  margin-bottom: 50px;
  transition: margin-bottom 0.7s, margin-top 0.7s;
  position: relative;
}
.images-defaults .card .details {
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 190px;
  height: 0;
  background-color: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 0 10px 10px;
  z-index: 2;
  transition: 1s;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.images-defaults .card .details .header {
  opacity: 0;
  transition: 2s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 10px;
}
.images-defaults .card .details .header .resort-name {
  color: #737373;
  font-size: 11px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  padding-left: 14px;
}
.images-defaults .card .details .header .rating {
  padding-right: 21px;
  display: flex;
  align-items: center;
}
.images-defaults .card .details .header .rating i {
  color: #FF9900;
  font-size: 11px;
  margin-right: 2px;
}
.images-defaults .card .details .header .rating span {
  color: #333;
  font-size: 9px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
.images-defaults .card .details .bar {
  opacity: 0;
  transition: 2s;
  width: 155px;
  height: 2px;
  background-color: #D6D6D6;
  margin: 7px 0 9px 14px;
}
.images-defaults .card .details .view-details {
  margin-left: 14px;
  margin-bottom: 5px;
  opacity: 0;
  transition: opacity 2s;
  width: 70px;
  height: 20px;
  background-color: #FF9900;
  border-radius: 5px;
  border: none;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 9.5px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.images-defaults .card .details .view-details:hover {
  background-color: #df8600;
}
.images-defaults .card:hover, .images-defaults .card-2 {
  margin-bottom: 100px;
  margin-top: 0;
}
.images-defaults .card:hover .details, .images-defaults .card-2 .details {
  height: 75px;
}
.images-defaults .card:hover .details .header, .images-defaults .card-2 .details .header {
  opacity: 1;
}
.images-defaults .card:hover .details .bar, .images-defaults .card:hover .details .view-details, .images-defaults .card-2 .details .bar, .images-defaults .card-2 .details .view-details {
  opacity: 1;
}
.images-defaults .card-1:hover ~ .card-2, .images-defaults .card-3:hover ~ .card-2 {
  margin-bottom: 50px;
  margin-top: 50px;
}
.images-defaults .card-1:hover ~ .card-2 .details, .images-defaults .card-3:hover ~ .card-2 .details {
  height: 0;
}
.images-defaults .card-1:hover ~ .card-2 .details .header, .images-defaults .card-3:hover ~ .card-2 .details .header {
  opacity: 0;
}
.images-defaults .card-1:hover ~ .card-2 .details .bar, .images-defaults .card-1:hover ~ .card-2 .details .view-details, .images-defaults .card-3:hover ~ .card-2 .details .bar, .images-defaults .card-3:hover ~ .card-2 .details .view-details {
  opacity: 0;
}
@media (max-width: 760px) {
  .images-defaults .card {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .images-defaults .card:hover, .images-defaults .card-2 {
    margin-bottom: 50px;
    margin-top: 0;
  }
  .images-defaults .card-1:hover ~ .card-2, .images-defaults .card-3:hover ~ .card-2 {
    margin-bottom: 25px;
    margin-top: 25px;
  }
}
.images-defaults .card-1 {
  order: 1;
  background-image: url("./images/lounge.jpg");
}
@media (max-width: 520px) {
  .images-defaults .card-1 {
    margin-left: 20px;
  }
}
.images-defaults .card-2 {
  order: 2;
  background-image: url("./images/pool-1.jpg");
}
.images-defaults .card-3 {
  order: 3;
  background-image: url("./images/pool-2.jpg");
}/*# sourceMappingURL=RelaxingPleasure.css.map */