.intro {
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    overflow-y: visible;

    /* flexbox */
    display: flex;
    flex-direction: column;
    
}

/* background decor */
.blue-background {
    background-color: #E5F7FF;
    width: 100%;
    position: absolute;
    bottom: 0;
    border-radius: 20px;
}