.intro {
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    overflow-y: visible;

    /* flexbox */
    display: flex;
    flex-direction: column;
    
}

/* background decor */
.blue-background {
    background-color: #E5F7FF;
    width: 100%;
    position: absolute;
    bottom: 0;
    border-radius: 20px;
}

.background_triangle_1 {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    border-top: 0;
    border-left: 650px solid #E5F7FF;
    border-bottom: 350px solid transparent;
}
@media (min-width: 1400px) {
    .background_triangle_1 {
        border-left: 40vw solid #E5F7FF;
        border-bottom: calc(0.667 * 30vw) solid transparent;
    }
}
.background_triangle_2 {
    z-index: -1;
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom: 0;
    border-right: 682px solid #E5F7FF;
    border-top: 340px solid transparent;
}
@media (min-width: 1400px) {
    .background_triangle_2 {
        border-right: 50vw solid #E5F7FF;
    }
}