@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300&display=swap");
.hotel_page_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hotel_page_wrapper .navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  box-sizing: border-box;
  transition: all 1s;
}
.hotel_page_wrapper .navbar .title, .hotel_page_wrapper .navbar .nav-body .nav-items a {
  color: white;
}
.hotel_page_wrapper .navbar .nav-body .nav-items a:hover {
  color: #4ca35f;
}
.hotel_page_wrapper .navbar .nav-body .button {
  border-color: white;
  color: white;
  background-color: transparent;
}
.hotel_page_wrapper .navbar .nav-body .button:hover {
  background-color: #4ca35f;
  border-color: #4ca35f;
  color: #ffffff;
}
.hotel_page_wrapper .navbar .nav-body .dropdown i {
  color: #fff;
}
.hotel_page_wrapper .navbar_scrolled {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 45px 10px 45px;
}
@media (max-width: 900px) {
  .hotel_page_wrapper .navbar_scrolled {
    padding: 10px 35px 10px 35px;
  }
}
@media (max-width: 710px) {
  .hotel_page_wrapper .navbar_scrolled {
    padding: 10px 10px 10px 10px;
  }
}
.hotel_page_wrapper .main_section {
  width: 100%;
  height: 85vh;
  position: fixed;
  top: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hotel_page_wrapper .main_section .overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.53);
  display: flex;
  justify-content: center;
  align-items: center;
}
.hotel_page_wrapper .main_section .overlay .search_wrapper {
  position: relative;
  width: 100%;
  max-width: 280px;
}
@media (max-width: 300px) {
  .hotel_page_wrapper .main_section .overlay .search_wrapper {
    max-width: 250px;
  }
}
.hotel_page_wrapper .main_section .overlay .search_bar {
  height: 40px;
  max-width: 100%;
  margin: 0 10px 0 10px;
  border-radius: 24px;
  background-color: white;
  display: flex;
  align-items: center;
}
@media (max-height: 430px) {
  .hotel_page_wrapper .main_section .overlay .search_bar {
    margin-top: 40px;
  }
}
.hotel_page_wrapper .main_section .overlay .search_bar i {
  font-size: 14px;
  color: #808080;
  margin: 0 10px 0 10px;
}
.hotel_page_wrapper .main_section .overlay .search_bar i:last-child {
  font-size: 17px;
  margin-right: 15px;
}
.hotel_page_wrapper .main_section .overlay .search_bar input {
  flex-grow: 1;
  border: none;
  max-width: 100%;
}
@media (max-width: 300px) {
  .hotel_page_wrapper .main_section .overlay .search_bar input {
    max-width: 150px;
  }
}
.hotel_page_wrapper .main_section .overlay .search_bar input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-size: 13px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
.hotel_page_wrapper .main_section .overlay .search_bar input::placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-size: 13px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
.hotel_page_wrapper .main_section .overlay .search_bar input:focus {
  outline: none;
}
.hotel_page_wrapper .empty-space {
  height: 85vh;
  width: 100%;
}
.hotel_page_wrapper .body {
  width: 100%;
  z-index: 2;
  background-color: white;
  box-shadow: 0px -4px 4px 0px rgba(103, 103, 103, 0.25);
}
.hotel_page_wrapper .body .details_section_wrapper {
  width: 100%;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hotel_page_wrapper .body .details_section_wrapper .details_section {
  width: 90%;
  position: relative;
  padding-bottom: 70px;
}
@media (max-width: 590px) {
  .hotel_page_wrapper .body .details_section_wrapper .details_section {
    width: 100%;
    margin: 0 10px 0 10px;
  }
}
.hotel_page_wrapper .body .details_section_wrapper .details_section .details_container {
  height: 100%;
  z-index: 2;
  position: relative;
  box-sizing: border-box;
  display: block;
  background-color: #ffffff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  margin: 0 30px 0 30px;
  padding: 15px 25px 25px 25px;
}
@media (max-width: 360px) {
  .hotel_page_wrapper .body .details_section_wrapper .details_section .details_container {
    margin: 0 10px 0 10px;
  }
}
@media (max-width: 430px) {
  .hotel_page_wrapper .body .details_section_wrapper .details_section .details_container {
    padding: 15px 15px 25px 15px;
  }
}
.hotel_page_wrapper .body .details_section_wrapper .details_section .details_container .header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}
@media (max-width: 550px) {
  .hotel_page_wrapper .body .details_section_wrapper .details_section .details_container .header {
    gap: 0px;
  }
}
.hotel_page_wrapper .body .details_section_wrapper .details_section .details_container .header h1 {
  color: #000;
  font-size: 32px;
  font-weight: 500;
  font-family: "Lora", serif;
  margin: 0;
}
@media (max-width: 550px) {
  .hotel_page_wrapper .body .details_section_wrapper .details_section .details_container .header h1 {
    font-size: 25px;
  }
}
.hotel_page_wrapper .body .details_section_wrapper .details_section .details_container .header div {
  background-color: rgba(90, 90, 90, 0.44);
  padding: 4px 10px 4px 5px;
  border-radius: 5px;
  margin-top: 5px;
}
@media (max-width: 550px) {
  .hotel_page_wrapper .body .details_section_wrapper .details_section .details_container .header div {
    margin-left: auto;
  }
  .hotel_page_wrapper .body .details_section_wrapper .details_section .details_container .header div i {
    font-size: 12px;
  }
  .hotel_page_wrapper .body .details_section_wrapper .details_section .details_container .header div span:first-child {
    font-size: 11px;
  }
  .hotel_page_wrapper .body .details_section_wrapper .details_section .details_container .header div span:last-child {
    font-size: 13px;
  }
}
.hotel_page_wrapper .body .details_section_wrapper .details_section .details_container .header div i {
  color: #FFC700;
  margin: 0 5px 0 5px;
}
.hotel_page_wrapper .body .details_section_wrapper .details_section .details_container .header div span {
  color: #fff;
  font-family: "Inria Sans", sans-serif;
  font-weight: 300;
}
.hotel_page_wrapper .body .details_section_wrapper .details_section .details_container .header div span:first-child {
  font-size: 13px;
}
.hotel_page_wrapper .body .details_section_wrapper .details_section .details_container .header div span:last-child {
  font-size: 15px;
}
.hotel_page_wrapper .body .details_section_wrapper .details_section .details_container ul {
  margin-top: 10px;
  padding-left: 10px;
}
@media (max-width: 397px) {
  .hotel_page_wrapper .body .details_section_wrapper .details_section .details_container ul {
    margin-bottom: 20px;
    padding-left: 0;
  }
  .hotel_page_wrapper .body .details_section_wrapper .details_section .details_container ul li {
    font-size: 14px;
  }
}
.hotel_page_wrapper .body .details_section_wrapper .details_section .details_container ul li {
  list-style: none;
  color: #656161;
  font-size: 15.5px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  margin-bottom: 12px;
}
.hotel_page_wrapper .body .details_section_wrapper .details_section .details_container .room_size {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 70px;
}
@media (max-width: 590px) {
  .hotel_page_wrapper .body .details_section_wrapper .details_section .details_container .room_size {
    gap: 20px;
  }
}
@media (max-width: 405px) {
  .hotel_page_wrapper .body .details_section_wrapper .details_section .details_container .room_size {
    gap: 10px;
  }
}
.hotel_page_wrapper .body .details_section_wrapper .details_section .details_container .room_size span {
  color: #383333;
  font-size: 17px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}
.hotel_page_wrapper .body .details_section_wrapper .details_section .details_container .room_size .select_wrapper {
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 5px;
  border: 2px solid #656161;
  padding: 3.5px 10px 3.5px 7px;
  /* input style */
  /* at focus show no border */
}
.hotel_page_wrapper .body .details_section_wrapper .details_section .details_container .room_size .select_wrapper select {
  border: none;
  background-color: transparent;
}
.hotel_page_wrapper .body .details_section_wrapper .details_section .details_container .room_size .select_wrapper select:focus {
  outline: none;
}
.hotel_page_wrapper .body .details_section_wrapper .details_section .details_container .room_size .select_wrapper select {
  border: none;
  color: #656161;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  width: 110px;
}
.hotel_page_wrapper .body .details_section_wrapper .details_section .details_container .room_size .select_wrapper select option {
  color: #656161;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
}
.hotel_page_wrapper .body .details_section_wrapper .details_section .blue-background {
  height: 55%;
}
.hotel_page_wrapper .body .map_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
}
.hotel_page_wrapper .body .map_wrapper .map_container {
  width: 90%;
}
.hotel_page_wrapper .body .map_wrapper .map_container .map {
  border: 0;
  height: 340px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
@media (min-width: 1700px) {
  .hotel_page_wrapper .body .map_wrapper .map_container .map {
    height: 410px;
  }
}
.hotel_page_wrapper .body .map_wrapper .map_container .location {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.hotel_page_wrapper .body .map_wrapper .map_container .location i {
  color: #BE1B1B;
  font-size: 19px;
  margin-right: 10px;
  margin-left: 10px;
  align-self: flex-start;
}
.hotel_page_wrapper .body .map_wrapper .map_container .location span {
  color: #000;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  padding-top: 2px;
}
@media (min-width: 1700px) {
  .hotel_page_wrapper .body .map_wrapper .map_container .location i {
    font-size: 22px;
  }
  .hotel_page_wrapper .body .map_wrapper .map_container .location span {
    font-size: 17px;
  }
}
.hotel_page_wrapper .body .payment_details_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
}
.hotel_page_wrapper .body .payment_details_wrapper .payment_details_container {
  width: 85%;
  max-width: 1450px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
  padding: 15px 20px 20px 20px;
  display: grid;
  grid-template-columns: 1fr 0.9fr;
}
@media (max-width: 595px) {
  .hotel_page_wrapper .body .payment_details_wrapper .payment_details_container {
    width: 100%;
    margin: 0 20px 0 20px;
  }
}
@media (max-width: 390px) {
  .hotel_page_wrapper .body .payment_details_wrapper .payment_details_container {
    padding-right: 10px;
    padding-left: 15px;
  }
}
@media (max-width: 370px) {
  .hotel_page_wrapper .body .payment_details_wrapper .payment_details_container {
    padding-bottom: 0px;
  }
}
@media (max-width: 1100px) {
  .hotel_page_wrapper .body .payment_details_wrapper .payment_details_container {
    grid-template-columns: 1fr 0.7fr;
  }
}
@media (max-width: 775px) {
  .hotel_page_wrapper .body .payment_details_wrapper .payment_details_container {
    grid-template-columns: 1fr 0.6fr;
  }
}
@media (max-width: 705px) {
  .hotel_page_wrapper .body .payment_details_wrapper .payment_details_container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    grid-row-gap: 50px;
  }
}
.hotel_page_wrapper .body .payment_details_wrapper .payment_details_container .details {
  grid-column: span 1;
}
.hotel_page_wrapper .body .payment_details_wrapper .payment_details_container .details h1 {
  color: #000;
  font-size: 22px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  margin: 0;
}
.hotel_page_wrapper .body .payment_details_wrapper .payment_details_container .details .content {
  margin: 10px 0 20px 15px;
}
.hotel_page_wrapper .body .payment_details_wrapper .payment_details_container .details .content .selection {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
@media (max-width: 590px) {
  .hotel_page_wrapper .body .payment_details_wrapper .payment_details_container .details .content .selection {
    gap: 20px;
  }
}
@media (max-width: 405px) {
  .hotel_page_wrapper .body .payment_details_wrapper .payment_details_container .details .content .selection {
    gap: 10px;
  }
}
.hotel_page_wrapper .body .payment_details_wrapper .payment_details_container .details .content .selection .change_duration_btn {
  border-radius: 5px;
  border: 2px solid #656161;
  padding: 3.5px 10px 3.5px 7px;
  color: #656161;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  background-color: transparent;
}
.hotel_page_wrapper .body .payment_details_wrapper .payment_details_container .details .content .selection form input {
  width: 50px;
  border-radius: 4px;
  border: 1px solid #656161;
  padding: 3.5px 5px 3.5px 7px;
}
.hotel_page_wrapper .body .payment_details_wrapper .payment_details_container .details .content .selection span {
  color: #000000;
  font-size: 17px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
.hotel_page_wrapper .body .payment_details_wrapper .payment_details_container .details .content .selection .select_wrapper {
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 5px;
  border: 2px solid #656161;
  padding: 3.5px 10px 3.5px 7px;
  /* input style */
  /* at focus show no border */
}
.hotel_page_wrapper .body .payment_details_wrapper .payment_details_container .details .content .selection .select_wrapper select {
  border: none;
  background-color: transparent;
}
.hotel_page_wrapper .body .payment_details_wrapper .payment_details_container .details .content .selection .select_wrapper select:focus {
  outline: none;
}
.hotel_page_wrapper .body .payment_details_wrapper .payment_details_container .details .content .selection .select_wrapper select {
  border: none;
  color: #656161;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  width: 110px;
}
.hotel_page_wrapper .body .payment_details_wrapper .payment_details_container .details .content .selection .select_wrapper select option {
  color: #656161;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
}
.hotel_page_wrapper .body .payment_details_wrapper .payment_details_container .details .content .selection .select_wrapper select[name=change_duration] {
  width: 140px;
}
.hotel_page_wrapper .body .payment_details_wrapper .payment_details_container .details .content .selection:nth-child(2) {
  margin-top: 10px;
  margin-bottom: 20px;
}
.hotel_page_wrapper .body .payment_details_wrapper .payment_details_container .details .content ul {
  margin: 0;
  padding-left: 25px;
}
@media (max-width: 370px) {
  .hotel_page_wrapper .body .payment_details_wrapper .payment_details_container .details .content ul {
    padding-left: 10px;
  }
}
.hotel_page_wrapper .body .payment_details_wrapper .payment_details_container .details .content ul li {
  margin-top: 12px;
  color: #656161;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  line-height: 1.5;
}
.hotel_page_wrapper .body .payment_details_wrapper .payment_details_container .details .content ul li:first-child .cross {
  position: relative;
}
.hotel_page_wrapper .body .payment_details_wrapper .payment_details_container .details .content ul li:first-child .cross::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #BE1B1B;
}
.hotel_page_wrapper .body .payment_details_wrapper .payment_details_container .details .content ul .mrtravel_coupon span:first-child {
  color: white;
  font-weight: 400;
  margin-right: 5px;
  position: relative;
  padding: 2px 5px 2px 5px;
  font-size: 14px;
}
.hotel_page_wrapper .body .payment_details_wrapper .payment_details_container .details .content ul .mrtravel_coupon span:first-child::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #BE1B1B;
  height: 100%;
  border-radius: 2px;
}
.hotel_page_wrapper .body .payment_details_wrapper .payment_details_container .details .order_total .hide {
  display: none;
}
.hotel_page_wrapper .body .payment_details_wrapper .payment_details_container .details .order_total span {
  color: #000;
  font-size: 17px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
.hotel_page_wrapper .body .payment_details_wrapper .payment_details_container .details .order_total .cross:nth-child(2) {
  position: relative;
  margin: 0 5px 0 5px;
  color: #656161;
}
.hotel_page_wrapper .body .payment_details_wrapper .payment_details_container .details .order_total .cross:nth-child(2)::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #BE1B1B;
}
.hotel_page_wrapper .body .payment_details_wrapper .payment_details_container .disabled {
  opacity: 0.5;
  pointer-events: none;
}
.hotel_page_wrapper .body .payment_details_wrapper .payment_details_container .payment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.hotel_page_wrapper .body .payment_details_wrapper .payment_details_container .payment .header, .hotel_page_wrapper .body .payment_details_wrapper .payment_details_container .payment span, .hotel_page_wrapper .body .payment_details_wrapper .payment_details_container .payment p {
  color: #656161;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  margin: 0;
}
.hotel_page_wrapper .body .payment_details_wrapper .payment_details_container .payment .header span {
  position: relative;
  color: #fff;
  font-weight: 300;
  padding: 1px 3px 1px 3px;
}
.hotel_page_wrapper .body .payment_details_wrapper .payment_details_container .payment .header span::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #BE1B1B;
  border-radius: 2px;
  z-index: -1;
}
.hotel_page_wrapper .body .payment_details_wrapper .payment_details_container .payment input[type=submit], .hotel_page_wrapper .body .payment_details_wrapper .payment_details_container .payment button {
  cursor: pointer;
  background-color: #BE1B1B;
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  border-radius: 4px;
  padding: 7px 10px 7px 10px;
  color: #fff;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
.hotel_page_wrapper .body .payment_details_wrapper .payment_details_container .payment input[type=submit]:hover {
  background-color: #991111;
}
.hotel_page_wrapper .body .payment_details_wrapper .payment_details_container .payment .or {
  width: 150px;
  text-align: center;
}
.hotel_page_wrapper .body .payment_details_wrapper .payment_details_container .payment input[type=date] {
  height: 35px;
  width: 170px;
  border-radius: 4px;
  border: 0.5px solid #000;
  padding: 0 12px 0 12px;
  color: #656161;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.resort-surprises .details .title {
  font-size: 40px;
}

.resort-surprises .details .facilities .facility .icon i {
  font-size: 15px;
}/*# sourceMappingURL=hoteldetails.css.map */