
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300&display=swap');

.welcoming-page {
    /* size */
    max-width: 100%;
    flex-grow: 1;

    padding: 0 45px 25px 45px;
    @media(max-width: 900px){
        padding: 0 35px 25px 35px;
    }
    @media(max-width: 710px){
        padding: 0 10px 25px 10px;
    }
}

.extra-space {
    margin-top: 66px;
    @media (max-width: 1061px) {
        margin-top: 240px;
    }
    @media (max-width: 565px){
        margin-top: 448px;
    }
    @media (max-width: 334px) {
        margin-top: 503px;
    }
}

.image {
    height: 100%;
    width: 100%;
    background: url('./images/welcoming.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    position: relative;
}
.green-overlay {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: linear-gradient(90deg, #A3F1B4 0%, rgba(124, 227, 215, 0.90) 30%, rgba(217, 217, 217, 0.00) 60%);
    @media (max-width: 1100px) {
        background: linear-gradient(90deg, #A3F1B4 0%, rgba(124, 227, 215, 0.90) 45%, rgba(217, 217, 217, 0.00) 75%);
    }
    @media (max-width: 565px) {
        background: linear-gradient(90deg, #A3F1B4 0%, rgba(124, 227, 215, 0.90) 50%, rgba(217, 217, 217, 0.00) 100%);
    }
}

/* Informative Table */
.informative-table {
    height: fit-content;
    width: 85%;
    max-width: 1110px;
    background-color: #ffffff;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -90px);

    border-radius: 10px;
    border: 1px solid rgba(153, 153, 153, 0.70);
    filter: drop-shadow(0px 50px 50px rgba(135, 135, 135, 0.25));

    /* flexbox */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    padding: 0 20px 0 20px;
    @media (max-width: 1150px){
        padding: 0 30px 0 30px;
    }
}

/* Facilities */
.informative-table .facilities {
    height: 180px;
    width: 260px;

    /* flexbox */
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    margin: 0 0 0 0;

    .head {
        /* flexbox */
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
            color: #000000;
            font-size: 24px;
            font-weight: 600;
            font-family: 'Inter', sans-serif;
        }
        a {
            color: #F90;
            font-size: 10px;
            font-weight: 600;
            font-family: 'Inter', sans-serif;
            text-decoration: none;
        }
    }
    .facilities-options {
        /* flexbox */
        display: flex;
        justify-content: space-between;
    }
    .facilities-options div{
        cursor: pointer;
        /* flexbox */
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 63px;

        div {
            width: 40px;
            height: 40px;
            border-radius: 5px;
            border: 1.5px solid #BBB;

            /* flexbox */
            display: flex;
            align-items: center;
            justify-content: center;
        }

        /* span */
        span{
            font-size: 13px;
            color: #000000;
            font-family: 'Inter', sans-serif;
            font-weight: 500;
            margin-top: 5px;
        }
    }
    .swimming img {
        width: 20px;
    }
    .wifi img {
        width: 19px;
    }
    .ac img {
        width: 24px;
    }
    .dinner img {
        width: 16px;
    }
}
/* End of facilities */

/* Hotels1 */
.hotels1 {
    /* flexbox */
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    height: 140px;

    margin: 0 40px 0 40px;
    .title {
        color: #000000;
        font-size: 20px;
        font-family: 'Inter', sans-serif;
        font-weight: 600;
    }
    .duration {
        font-size: 13px;
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        color: #8F8F8F;
    }
    .price {
        /* flexbox */
        display: flex;
        justify-content: space-around;
        align-items: center;
        cursor: pointer;

        border-radius: 5px;
        border: 1px solid #B8B8B8;
        height: 35px;
        transition: background-color 0.7s, border-color 0.7s;

        i {
            color: #001AFF;
            transition: color 0.7s;
        }
        span {
            font-size: 12px;
            font-family: 'Inter', sans-serif;
            font-weight: 400;
            color: #000000;
            padding-right: 5px;
            transition: color 0.7s;
        }
    }
    .price:hover {
        border-color: #001AFF;
        background-color: #001AFF;
        i, span {
            color: #ffffff;
        }
    }
}
/* End of hotels1 */

/* Hotels2 */
.hotels2 {
    /* flexbox */
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: fit-content;

    margin: 40px 0 40px 0;

    .head {
        /* flexbox */
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 100%;
        height: 40px;

        span {
            color: #8F8F8F;
            font-size: 16px;
            font-family: 'Inter', sans-serif;
            font-weight: 400;
        }
        i {
            cursor: pointer;
        }
        .actions{
            /* flexbox */
            display: flex;

            justify-content: space-between;

            .pen {
                font-size: 22px;
                color: #B7B7B7;
            }
            .search-btn {
                font-size: 22px;
                color: #327FF2;
                margin-left: 40px;
            }
        }
    }
    // Search Bar
    .search_bar {
        background-color: #327FF2;
        overflow: hidden;
        border-radius: 10px;
        #search_hotels {
            width: 100%;
            height: 100%;
            border-radius: 5px;
            border: none;
            background-color: #327FF2;
            padding-left: 15px;

            color: #000000;
        }
        #search_hotels:focus {
            border: none;
            outline: none;
        }
        #search_hotels::placeholder {
            color: #ffffff;
            font-size: 12px;
            font-family: 'Lexend Deca', sans-serif;
            font-weight: 300;
        }
        .close-search {
            color: #ffffff;
            margin-right: 15px;
            margin-left: 5px;
        }
    }

    .elipses {
        /* flexbox */
        display: flex;

        a {
            height: 40px;
            width: 40px;
            border-radius: 40px;
            background-color: #8F8F8F;
            margin-right: 30px;
            margin-top: 30px;

            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .elipse1 {
            background-image: url('./images/1-hotel.jpg');
        }
        .elipse2 {
            background-image: url('./images/2-hotel.jpg');
        }
        .elipse3 {
            background-image: url('./images/3-hotel.jpg');
        }
        .elipse4 {
            background-image: url('./images/4-hotel.jpg');
        }
        .elipse5 {
            background-image: url('./images/5-hotel.jpg');
        }
    }
}
/* End of hotels2 */

/* screen sizes' modifications */
@media (max-width: 1061px){
    .informative-table {
        justify-content: center;
        width: 540px;
        max-width: 80%;
        .hotels1 {
            margin-right: 0;
        }
    }
}
@media (max-width: 565px){
    .informative-table {
        justify-content: flex-start;
        width: fit-content;
        .facilities-options, .elipses {
            flex-wrap: wrap;
        }
        .hotels1 {
            margin: 0;
        }

    }
}
@media (max-width: 360px){
    .informative-table {
        padding: 0 20px 0 20px;
    }
}
@media(max-width: 334px){
    .informative-table {
        .facilities {
            height: fit-content;
            .head {
                margin-top: 20px;
            }
            .facilities-options div{
                margin-top: 10px;
            }
        }
        .hotels1 {
            margin-top: 20px;
        }
        .hotels2 {
            .elipse3 {
                margin-right: 20px;
            }
        }
    }
}

/* INFO */
.image .green-overlay .info {
    /* flexbox */
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 80px 0 0 80px;

    .title {
        font-size: 50px;
        color: #000000;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        font-family: 'Inter', sans-serif;
    }
    .loerm {
        color: #323232;
        font-size: 14px;
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        margin: 20px 0 20px 0;
    }

    .warwick {
        /* flexbox */
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        .text {
            color: #117326fc;
            font-size: 16px;
            font-family: 'Inter', sans-serif;
            font-weight: 600;
            margin-left: 10px;
        }
    }
}

@media (max-width: 1061px){
    .image .green-overlay .info {
        .title {
            font-size: 40px;
        }
        .loerm {
            font-size: 13px;
        }
    }
}
@media (max-width: 830px){
    .image .green-overlay .info {
        padding: 80px 0 0 45px;
    }
}
@media (max-width: 565px){
    .image .green-overlay .info {
        padding: 80px 0 0 40px;
        .title {
            font-size: 33px;
        }
        .loerm {
            font-size: 13px;
            width: 250px;
        }
    }
}
@media (max-width: 375px) {
    .image .green-overlay .info {
        padding: 80px 0 0 20px;
    }
}
@media (max-width: 310px) {
    .image .green-overlay .info {
        
        .title {
            font-size: 25px;
        }
        .loerm {
            font-size: 12px;
            width: 220px;
        }
    }
}

@media (min-width: 1750px) {
    .image .green-overlay .info {
        .title {
            font-size: 57px;
        }
        .loerm {
            font-size: 15px;
        }
    }
}
/* End of info */


/* secure logo */
.secure-logo {
    /* flexbox */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-width: 48px;
    height: 48px;
    border-radius: 48px;
    border: 2px solid #ffffff;

    span {
        color: #117326;
        font-size: 9px;
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        margin-top: 3px;
    }
}