<li className="card card1" onClick={() => showDetails(1)}>
    <div className="hotel-img" style={{ backgroundImage: `url('${img_path}')` }}>
        <div className="info">
            <span>MIRACLE RESORT</span>
            <div className="add-hotel">
                <i className="fa-regular fa-pen-to-square"></i>
            </div>
        </div>
    </div>
    <div className="body">
        <div className="details">
            <span className="price">$600.00</span>
            <span className="booking-id">Booking ID: 7595364</span>
            <span className="country">Turkey Resort</span>
        </div>
        
        <div className="secure-logo">
            <i className="fa-solid fa-house-lock"></i>
            <span>Secure</span>
        </div>
    </div>
</li>
<li className="card" onClick={() => showDetails(2)}>
    <div className="hotel-img img2">
        <div className="info">
            <span>Warwick Hotels & Resorts</span>
            <div className="add-hotel">
                <i className="fa-regular fa-pen-to-square"></i>
            </div>
        </div>
    </div>
    <div className="body">
        <div className="details">
            <span className="price">$400.00</span>
            <span className="booking-id">Booking ID: 8279376</span>
            <span className="country">Warwick Hotels</span>
        </div>
        
        <div className="secure-logo">
            <i className="fa-solid fa-house-lock"></i>
            <span>Secure</span>
        </div>
    </div>
</li>
<li className="card" onClick={() => showDetails(3)}>
    <div className="hotel-img img3">
        <div className="info">
            <span>ISO - How Hitton is  going <br></br> green</span>
            <div className="add-hotel">
                <i className="fa-regular fa-pen-to-square"></i>
            </div>
        </div>
    </div>
    <div className="body">
        <div className="details">
            <span className="price">$500.000</span>
            <span className="booking-id">Booking ID: 9735727</span>
            <span className="country">ISO - Hitton</span>
        </div>
        
        <div className="secure-logo">
            <i className="fa-solid fa-house-lock"></i>
            <span>Secure</span>
        </div>
    </div>
</li>
<li className="card" onClick={() => showDetails(4)}>
    <div className="hotel-img img4">
        <div className="info">
            <span>Barceló Margaritas Hotel</span>
            <div className="add-hotel">
                <i className="fa-regular fa-pen-to-square"></i>
            </div>
        </div>
    </div>
    <div className="body">
        <div className="details">
            <span className="price">$320.00</span>
            <span className="booking-id">Booking ID: 9724659</span>
            <span className="country">Gran Canaria</span>
        </div>
        
        <div className="secure-logo">
            <i className="fa-solid fa-house-lock"></i>
            <span>Secure</span>
        </div>
    </div>
</li>